/*@import 'https://fonts.googleapis.com/css?family=Libre+Franklin:100,300,400,600,700,900';*/
/* -----------------------
  Presentational stuff 
----------------------- */
@font-face {
    font-family: librefranklinbold;
    src: url(../fonts/LibreFranklin-Black.ttf);
}

@font-face {
    font-family: librefranklin;
    src: url(../fonts/LibreFranklin-Light.ttf);
}

body {
    font-family: 'librefranklin', sans-serif;
    /*background: #fff;*/
    /*background: #a1a2a3;*/
    background: #343A40;
}

h1 {
    font-weight: 900;
    color: #ff8d00;
    font-family: librefranklinbold;
}
@media (min-width: 1200px) {
    h1 {
        font-size: 60px;
    }
}
/* -----------------------
  Form 
----------------------- */
.form-control {
    border-radius: 0;
}
.form-control:focus {
    box-shadow: none;
}
.form-group {
    position: relative;
    margin-bottom: 25px;
}
.form-group > label {
    text-transform: uppercase;
    font-size: 10px;
    color: #a1a2a3;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    pointer-events: none;
    position: relative;
    z-index: 5;
}
.form-group > input {
    width: 100%;
}
.form-group > label {
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scale(1.4) translateY(20px);
            transform: scale(1.4) translateY(20px);
}
.form-group.not-empty > label {
    -webkit-transform: none;
        transform: none;
}
/*------------------------------
	Form
------------------------------*/
.form-control {
    border: 0;
    border-bottom: 1px solid #a1a2a3;
}
.form-control,
.form-control:focus,
.form-control:focus:hover {
    color: #ff8d00;
    background: none;
    outline: none;
}
.form-control:focus,
.form-control:focus:hover {
    border-bottom: 1px solid #ff8d00;
}
.align-items-center {
    border-left: 2px solid #3F51B5;
}

button.btn{
    cursor: pointer;
}

span.help-block{
    font-size: 14px;
    color: #fc0f0f;
}